
<td>{{ index }}</td>
<td [formGroup]="form">
    <fieldset class="field">
        <input type="text" class="input" formControlName="name" placeholder="Item name">
    </fieldset>
</td>
<td [formGroup]="form">
    <fieldset class="field">
        <input type="number" class="input" formControlName="unitPrice" placeholder="Unit price">
    </fieldset>
</td>
<td [formGroup]="form">
    <fieldset class="field">
        <input type="number" class="input" formControlName="unit" placeholder="Number of units">
    </fieldset>
</td>
<td>
    {{ getTotal() }}
</td>
<td>
    <button type="button" class="button is-outlined is-danger" (click)="removeItem()">
        Delete
    </button>
</td>
