<section class="page">
    <header>
        <h1 class="title">Invoices</h1>
        <nav class="breadcrumb is-small is-bottom-aligned" aria-label="breadcrumbs">
            <ul>
                <li><a routerLink="">invoices</a></li>
                <li class="is-active"><a aria-current="page">create</a></li>
            </ul>
        </nav>
    </header>

    <div class="details">
        <a routerLink="" class="button is-light">Back to list</a>
    </div>

    <div class="card">
        <div class="card-content">
            <h3 class="title is-5">Invoice info</h3>

            <form [formGroup]="form" (submit)="save()">
                <div class="columns">
                    <div class="column is-one-third">
                        <fieldset class="field">
                            <label for="number">Invoice number</label>
                            <div class="control">
                                <input type="text" id="number" formControlName="number" class="input">
                            </div>
                        </fieldset>

                        <fieldset class="field">
                            <label for="date">Invoice date</label>
                            <div class="control">
                                <input type="text" id="date" formControlName="date" class="input" placeholder="DD/MM/YYYY">
                            </div>
                        </fieldset>
                    </div>

                    <div class="column is-one-third is-offset-one-third">
                        <fieldset class="field is-aligned-right">
                            <label>Invoice status</label>

                            <div class="field">
                                <input class="is-checkradio is-small" id="status-pending" type="radio" name="status">
                                <label for="status-pending">Pending</label>
                            </div>

                            <div class="field">
                                <input class="is-checkradio is-small" id="status-sent" type="radio" name="status">
                                <label for="status-sent">Sent</label>
                            </div>

                            <div class="field">
                                <input class="is-checkradio is-small" id="status-paid" type="radio" name="status">
                                <label for="status-paid">Paid</label>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="is-divider"></div>

                <div class="columns">
                    <div class="column is-one-third" formGroupName="recipient">
                        <app-invoice-contact title="To" [contact]="form.get('recipient')"></app-invoice-contact>
                    </div>

                    <div class="column is-one-third is-offset-one-third is-aligned-right" formGroupName="sender">
                        <app-invoice-contact title="From" [contact]="form.get('sender')"></app-invoice-contact>
                    </div>
                </div>

                <div class="is-divider"></div>

                <div class="table-container">
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Item name</td>
                            <td>Unit price</td>
                            <td>Unit</td>
                            <td>Cost</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody formArrayName="items">
                            <tr *ngFor="let item of items.controls; let i=index;" invoice-item
                                [index]="(i+1)" [form]="item"
                                (delete)="removeItem(i)"></tr>
                        </tbody>
                    </table>
                </div>

                <button type="button" class="button is-primary" (click)="addItem()">
                    Add item
                </button>

                <div class="columns">
                    <div class="column is-one-third is-offset-two-thirds is-aligned-right">
                        <p><span>Sub total</span> {{ getSubtotal() | currency }}</p>
                        <p><span>Taxes</span> {{ getTaxes() | currency }}</p>
                        <p class="title is-6"><span>Total</span> {{ getTotal() | currency }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
