
.table tbody {
	td:nth-of-type(4),
	td:nth-of-type(5) {
		text-align: center;
	}

	td:nth-of-type(3) {
		text-align: right;
	}
}

.has-border-right {
	border-right: 1px solid #dbdbdb;

	margin-right: 1em;
	padding-right: 1em;
}
