
.table tbody {
	td:nth-of-type(4),
	td:nth-of-type(5) {
		text-align: center;
	}

	td:nth-of-type(3) {
		text-align: right;
	}

	td:last-of-type {
		width: 12rem;
	}

	td.is-empty {
		padding: 1rem;
		text-align: center;
		font-size: smaller;
		font-style: italic;
		color: hsl(0, 0%, 48%);
	}
}

.has-border-right {
	border-right: 1px solid #dbdbdb;

	margin-right: 1em;
	padding-right: 1em;
}
