<section class="page">
    <header>
        <h1 class="title">Invoices</h1>
        <nav class="breadcrumb is-small is-bottom-aligned" aria-label="breadcrumbs">
            <ul>
                <li class="is-active"><a href="#" aria-current="page">invoices</a></li>
            </ul>
        </nav>
    </header>

    <div class="details">
        <a routerLink="/create" class="button is-primary">Create new invoice</a>
    </div>

    <div class="card">
        <div class="table-container">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Customer name</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let invoice of list">
                    <td>#{{ invoice.number }}</td>
                    <td>{{ invoice.recipient.name }}</td>
                    <td>{{ invoice.getTotal() | currency }}</td>
                    <td>
                        <span class="tag"
                              [class.is-warning]="invoice.isPending()"
                              [class.is-danger]="invoice.isSent()"
                              [class.is-success]="invoice.isPaid()">
                            {{ invoice.getStatus()?.label }}
                        </span>
                    </td>
                    <td>
                        <a [routerLink]="[ 'invoice', invoice.id ]" class="has-border-right">View</a>
                        <a (click)="deleteInvoice(invoice.id)">Delete</a>
                    </td>
                </tr>

                <tr *ngIf="list.length === 0">
                    <td colspan="5" class="is-empty"> There is no data at the moment </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
